<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2024 会员管理系统项目

  本项目采用 AGPL-3.0 开源协议开源。

  您可以自由使用、修改和分发本项目，但若通过网络使用（包括修改后部署），
  也必须按照 AGPL-3.0 协议开源您的修改版本。

  完整协议文本请参见 LICENSE 文件。
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartvip.mapper.UserMapper">
    <select id="selectByOpenid" resultType="com.smartvip.entity.User">
        SELECT id, openid, nickname, avatar_url, phone, referral_code, referrer_id, recharge_balance, rebate_balance, membership_start, membership_expire, auto_subscribe, status, selected_gift_id, version, create_time, update_time
        FROM users WHERE openid = #{openid}
    </select>
    <select id="selectByReferralCode" resultType="com.smartvip.entity.User">
        SELECT id, openid, nickname, avatar_url, phone, referral_code, referrer_id, recharge_balance, rebate_balance, membership_start, membership_expire, auto_subscribe, status, selected_gift_id, version, create_time, update_time
        FROM users WHERE referral_code = #{referralCode}
    </select>
    <select id="selectByPhone" resultType="com.smartvip.entity.User">
        SELECT id, openid, nickname, avatar_url, phone, referral_code, referrer_id, recharge_balance, rebate_balance, membership_start, membership_expire, auto_subscribe, status, selected_gift_id, version, create_time, update_time
        FROM users WHERE phone = #{phone}
    </select>
</mapper>
